# ignore all
/*
/.*

# .vimrc
!/.vimrc
# .vim without dotfiles for vim
!/.vim
/.vim/.*
# neobundle
/.vim/bundle/*
!/.vim/bundle/neobundle.vim*

# setup script
!/setup.sh

# settings for git
!/.gitignore
!/.gitconfig
!/.gitmodules

